
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>    {% block title %}{% endblock %}
</title>
<link rel="icon" type="image/png" sizes="32x32" href="{{root}}png/squares.png">
    
    <!-- Favicons -->
    <link href="{{root}}vendor/img/favicon.png" rel="icon">
    <link href="{{root}}vendor/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

    <!-- Vendor CSS Files -->
    <link href="{{root}}vendor/aos/aos.css" rel="stylesheet">
    <link href="{{root}}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{root}}vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="{{root}}vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="{{root}}vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="{{root}}vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="{{root}}vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


    <link rel="stylesheet" href="{{root}}css/logreg.css">
    <link href="{{root}}css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}css/homeC.css">
    <link rel="stylesheet" href="{{root}}css/commoncss.css">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    .my_img {
        max-width: 80%;
        float: right;
    }
    </style>


</head>
<body>
  
    
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">
            <div class="d-flex align-items-center">
                <img class=" text-white mx-3 " width="30px" height="30px" src="{{root}}png/squares.png" alt="logo">
                <p class="text-white 
    logo"></p>
                <h4 class="logo  text-white ">Be-Square Academy</h4>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.php" class="logo me-auto"><img src="{{root}}img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link  active" href="home">Home</a></li>
                    <li class="dropdown"><a href="#"><span>Courses</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li class="dropdown"> <a href="#"><span>Middle school </span><i
                                        class="bi bi-chevron-right"></i> </a>
                                <ul>
                                    <li><a href="#">class 1</a></li>
                                    <li><a href="#">Class 2</a></li>
                                    <li><a href="#">class 3</a></li>
                                    <li><a href="#">Class 4</a></li>
                                    <li><a href="#">class 5</a></li>
                                    <li><a href="#">Class 6</a></li>
                                    <li><a href="#">class 8</a></li>
                                    <li><a href="#">Class 8</a></li>
                                    <li><a href="#">class 9</a></li>
                                    <li><a href="#">Class 10</a></li>
                                </ul>
                            </li>

                            <li class="dropdown"><a href="#"><span>Higher secondary</span> <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Plus 1</a></li>
                                    <li><a href="#">Plus 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="nav-link " href="about">About us</a></li>
                    <li><a class="nav-link" href="contact">Contact us
                        </a></li>
                    <li><a class="nav-link   " href="login">Login</a></li>
                    <li><a class="nav-link " href="signup">Register</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
   
    {% block body %}

    {% endblock %}    
</body>
{% block footer %}
<!-- footer -->
<footer id="footer mb-2">
    <div class="footer-top ">
        <div class="container-fluid bg-secondary text-light py-4">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Be-square academy</h3>
                    <p>Be square academy is a non profit organisation</p>
                    <br>
                    <p>Our mission is to provide free education all around the world</p>
                    <br>
                    <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> be-square@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links ">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Contact us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Courses for</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">middle school</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">class 1-10</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Higher secondary</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid bg-light footer-bottom my-5 clearfix ">
        <div class="copyright">
            &copy; Copyright <strong><span>Besquare academy | Terms of use | Privacy policy |
                    Cookies</span></strong>.
        </div>
    </div>
</footer>

<!-- footer end -->


<!-- Vendor JS Files -->
<script src="{{root}}vendor/aos/aos.js"></script>
<script src="{{root}}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{root}}vendor/glightbox/js/glightbox.min.js"></script>
<script src="{{root}}vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="{{root}}vendor/swiper/swiper-bundle.min.js"></script>
<script src="{{root}}vendor/waypoints/noframework.waypoints.js"></script>
<script src="{{root}}vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="{{root}}js/main.js"></script>


{% endblock %}
</html>
